@charset "UTF-8";

/* paisagem */

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background:  url('../imagens/cev-landscape.jpg') no-repeat left bottom;
}